
cache/

\.lyx_configure_lock

bbxFiles\.lst

bibFiles\.lst

bstFiles\.lst

cbxFiles\.lst

clsFiles\.lst

configure\.log

lyxciteengines\.lst

lyxmodules\.lst

lyxrc\.defaults

packages\.lst

session

styFiles\.lst

textclass\.lst

xtemplates\.lst
